/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2017 (14.0.1000)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2017
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Standard Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [securityCompany]    Script Date: 23.05.2019 23:18:19 ******/
CREATE DATABASE [securityCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'securityCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\securityCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'securityCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\securityCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [securityCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [securityCompany]
GO
USE [securityCompany]
GO
/****** Object:  Table [dbo].[tBrigade]    Script Date: 23.05.2019 23:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBrigade](
	[ID_Brigade] [int] IDENTITY(1,1) NOT NULL,
	[ID_Service] [int] NOT NULL,
	[crash] [nvarchar](200) NOT NULL,
	[cause] [nvarchar](1000) NOT NULL,
	[callDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Brigade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tClients]    Script Date: 23.05.2019 23:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tClients](
	[ID_Client] [int] IDENTITY(1,1) NOT NULL,
	[ID_Service] [int] NOT NULL,
	[sFIO] [nvarchar](50) NOT NULL,
	[series] [int] NOT NULL,
	[number] [int] NOT NULL,
	[bithday] [date] NULL,
	[phone] [nvarchar](12) NOT NULL,
	[email] [nvarchar](50) NULL,
	[photo] [nvarchar](50) NULL,
 CONSTRAINT [PK__tClients__B5AE4EC88F8A71F7] PRIMARY KEY CLUSTERED 
(
	[ID_Client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tClients__AB6E6164C45393B8] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tClients__B43B145F7040C9B8] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tContract]    Script Date: 23.05.2019 23:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tContract](
	[ID_Contract] [int] IDENTITY(1,1) NOT NULL,
	[ID_Client] [int] NOT NULL,
	[number] [int] NULL,
	[conclusion] [date] NOT NULL,
	[termination] [date] NOT NULL,
	[sAddress] [nvarchar](50) NULL,
	[priceMonth] [int] NOT NULL,
	[pricePeriod] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tReg]    Script Date: 23.05.2019 23:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tReg](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[sLog] [nvarchar](50) NOT NULL,
	[sPass] [nvarchar](50) NOT NULL,
	[sRole] [nvarchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tService]    Script Date: 23.05.2019 23:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tService](
	[ID_Service] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorker]    Script Date: 23.05.2019 23:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorker](
	[ID_Worker] [int] IDENTITY(1,1) NOT NULL,
	[sFIO] [nvarchar](50) NOT NULL,
	[wRank] [int] NOT NULL,
	[car] [nvarchar](12) NULL,
	[gun] [nvarchar](15) NULL,
	[phone] [nvarchar](11) NOT NULL,
	[startWork] [date] NOT NULL,
	[salary] [int] NULL,
	[photo] [nvarchar](50) NULL,
 CONSTRAINT [PK__tWorker__494DA7E86A3ED743] PRIMARY KEY CLUSTERED 
(
	[ID_Worker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tWorker__B43B145FC4D6FBC9] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tWorker__D8379126FC19D545] UNIQUE NONCLUSTERED 
(
	[car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__tWorker__DCD86C6608E6EBCB] UNIQUE NONCLUSTERED 
(
	[gun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tWorkerBrigade]    Script Date: 23.05.2019 23:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkerBrigade](
	[ID_WorkerBrigade] [int] IDENTITY(1,1) NOT NULL,
	[ID_Brigade] [int] NOT NULL,
	[ID_Worker] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_WorkerBrigade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tBrigade]  WITH CHECK ADD FOREIGN KEY([ID_Service])
REFERENCES [dbo].[tService] ([ID_Service])
GO
ALTER TABLE [dbo].[tClients]  WITH CHECK ADD  CONSTRAINT [FK__tClients__ID_Ser__3B75D760] FOREIGN KEY([ID_Service])
REFERENCES [dbo].[tService] ([ID_Service])
GO
ALTER TABLE [dbo].[tClients] CHECK CONSTRAINT [FK__tClients__ID_Ser__3B75D760]
GO
ALTER TABLE [dbo].[tContract]  WITH CHECK ADD  CONSTRAINT [FK__tContract__ID_Cl__3E52440B] FOREIGN KEY([ID_Client])
REFERENCES [dbo].[tClients] ([ID_Client])
GO
ALTER TABLE [dbo].[tContract] CHECK CONSTRAINT [FK__tContract__ID_Cl__3E52440B]
GO
ALTER TABLE [dbo].[tWorkerBrigade]  WITH CHECK ADD FOREIGN KEY([ID_Brigade])
REFERENCES [dbo].[tBrigade] ([ID_Brigade])
GO
ALTER TABLE [dbo].[tWorkerBrigade]  WITH CHECK ADD  CONSTRAINT [FK__tWorkerBr__ID_Wo__4AB81AF0] FOREIGN KEY([ID_Worker])
REFERENCES [dbo].[tWorker] ([ID_Worker])
GO
ALTER TABLE [dbo].[tWorkerBrigade] CHECK CONSTRAINT [FK__tWorkerBr__ID_Wo__4AB81AF0]
GO
USE [master]
GO
